@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section {
        @apply snap-center shrink-0 w-full overflow-hidden;
    }
}

@layer base {
    ::-webkit-scrollbar {
        @apply bg-opacity-0 h-1;
    }

    ::-webkit-scrollbar-track-piece {
        @apply bg-[rgba(8,8,8)];
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-black;
    }
}

@layer utilites {
    .text-bg-clip {
        -webkit-background-clip: text;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}